<% content_for :root_content do %>

  <!-- The justified navigation menu is meant for single line per list item.
       Multiple lines will require custom code not provided by Bootstrap. -->
  <div class="masthead">
    <h3 class="text-muted">pagelet_rails</h3>
    <nav>
      <ul class="nav nav-justified">
        <li><a href="<%= root_path %>">About</a></li>
        <li><a href="<%= tab_path('how_to') %>">How to Use</a></li>
        <li><a href="<%= tab_path('remote') %>">Remote</a></li>
        <li><a href="<%= tab_path('pjax') %>">Pjax</a></li>
        <li><a href="<%= tab_path('comments') %>">Comments</a></li>
        <!--<li><a href="<%= tab_path('contact') %>">Contact</a></li>-->
      </ul>
    </nav>
  </div>

  <%= content_for?(:application_content) ? yield(:application_content) : yield %>

  <footer class="footer">
    <p>&copy; 2015 Company, Inc.</p>
  </footer>

<% end %>

<%= render template: 'layouts/root' %>

