<% content_for :root_content do %>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">pagelet_rails</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">


          <%= li_menu 'About', root_path %>
          <%= li_menu 'How to Use', tab_path('how_to') %>
          <%= li_menu 'Remote', tab_path('remote') %>
          <%= li_menu 'Github API', tab_path('github_api') %>
          <%= li_menu 'Comments example', tab_path('comments') %>

        </ul>
        <!--<ul class="nav navbar-nav navbar-right">-->
          <!--<li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>-->
          <!--<li><a href="../navbar-static-top/">Static top</a></li>-->
          <!--<li><a href="../navbar-fixed-top/">Fixed top</a></li>-->
        <!--</ul>-->
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <%= content_for?(:application_content) ? yield(:application_content) : yield %>

<% end %>

<%= render template: 'layouts/root' %>

